# Бинарные файлы
/bin/
/main
/myapp
/app
/shortener
/auth
/services/*/shortener
/services/*/auth
*.exe
*.exe~
*.dll
*.so
*.dylib

# Файлы приложения
*.log
/tmp/
.cache/

# Файлы зависимостей
/go.mod~

# IDE файлы
.vscode/
.idea/
*.swp
*.swo

# OS файлы
.DS_Store
Thumbs.db
